.about-page {
	margin-top: 1rem;
}

.about-page picture {
	/*display: block;*/
	max-width: 600px;
	height: 100%;
	padding: 5px;
}

.about-page image-gallery {
	display: grid;
	justify-items: center;
}

@media(min-width: 600px) {
	.about-page image-gallery {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 1rem;
	}

	.seahorse {
		grid-row: span 2;
	}
}
