.has-image-gallery {
	margin-top: 1rem;
}

.has-image-gallery picture {
	/*display: block;*/
	max-width: 600px;
	height: 100%;
	padding: 5px;
}

.has-image-gallery .inner-column {
	column-count: 1;
	column-gap: 0;
	max-width: 900px;
}

@media(min-width: 600px) {
	.has-image-gallery .inner-column {
		column-count: 2;
	}
}
