footer {
	margin-top: 4rem;
	background: rgba(144, 183, 172, 0.4);
	/*overflow: hidden;*/
}

footer .inner-column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

footer h2 {
	font-size: 1.5rem;
}

footer p, footer a {
	font-size: 1.1rem;
}

footer {
	position: relative;
	right: 0;
	top: 0;
	/*max-width: 56vw;*/
	/*min-height: 10vh;*/
}

@media (min-width: 500px) {
	footer .inner-column {
		flex-direction: row;
		align-items: center;
	}
}

@media (prefers-color-scheme: dark) {
	footer {
		background: rgba(250, 250, 250, .1);
	}
}