footer {
	margin-top: 4rem;
	background: var(--accent);
	/*overflow: hidden;*/
}

footer .inner-column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

footer h2 {
	font-size: 1.5rem;
}

footer p, footer a {
	/*color: var(--alternate);*/
	font: Helvetica;
	font-size: 1.1rem;
	font-weight: 200;
}

footer {
	position: relative;
	right: 0;
	top: 0;
	/*max-width: 56vw;*/
	/*min-height: 10vh;*/
}

footer a:hover {
	color: var(--alternate);
}

@media (min-width: 500px) {
	footer .inner-column {
		flex-direction: row;
		align-items: center;
	}
}