footer {
	margin-top: 4rem;
	background: rgba(255, 255, 255, .1);
}

footer .inner-column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

footer h2 {
	font-size: 1.5rem;
}

footer p, footer a {
	font-size: 1.1rem;
}

@media (min-width: 500px) {
	footer .inner-column {
		flex-direction: row;
		align-items: center;
	}
}