
site-header {
	
}

site-header {
	padding: 0;
	padding-top: 10px;
}

site-header :is(.info-nav, .about-nav) {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 0 10px;
}

site-header a {
	padding: 10px 14px;
}

.site-header .inner-column {
	padding-left: 0;
	padding-right: 0;
}

@media (min-width:  500px) {
	site-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
