header .inner-column {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.info-nav, .about-nav {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

header a {
	font-family: 'Raleway';
	font-size: 1.2rem;
	font-weight: 200;
}

@media (min-width: 530px) {
	header .inner-column {
		justify-content: space-between;
		align-items: center;
	}

	.info-nav, .about-nav {
		flex-direction: row;
		gap: 40px;
	}
}