.intro h1 {
	padding: 20px 0;
	font-size: 3rem;
}

.page-intro {
	margin: 2rem 0;
}

.page-intro p {
	/*max-width: 50ch;*/
	line-height: 1.7;
}

.bolded {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.page-intro h1 + p {
	padding-top: 20px;
}

@media (min-width: 400px) {
	.page-intro p {
		font-size: 1.3rem;
		font-weight: 200;
	}

	.intro h1 {
		font-size: 4rem;
	}
}

