.intro h1 {
	padding: 20px 0;
	font-size: 3rem;
}

.intro {
	margin: 2rem 0;
}

.intro p {
	font-size: 16px;
	max-width: 50ch;
	line-height: 1.7;
	letter-spacing: .02em;
}

.bolded {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.intro h1 + p {
	padding-top: 20px;
}

@media (min-width: 400px) {
	.intro p {
		font-size: 1.3rem;
		font-weight: 200;
	}

	.intro h1 {
		font-size: 4rem;
	}
}

@media (min-width: 530px) {
	/*.intro h1 {
		font-size: 4rem;
	}*/

	.intro p {
		/*font-size: 1.5rem;*/
		font-weight: 200;
	}
}