project-card {
	padding: 20px;
	display: block;
	margin: 20px 0;
	border: 2px inset gray;
	background: rgba(144, 183, 172, 0.7);
	max-width: 300px;
}

project-card picture {
	max-width: 200px;
}

project-card p {
	font-size: 18px;
}

project-card a {
	display: inline-block;
	padding: 10px;
	font-size: 16px;
	border-radius: 3px;
	background: var(--ink);
	color: var(--paper);
}

project-card h2 {
	max-width: 60ch;
	padding-bottom: 20px;
}











