project-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
}

project-card {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 20px 0;
	border: 2px inset gray;
	background: var(--accent);
	color: var(--paper);
	/*max-width: 300px;*/
}

project-card picture {
	max-width: 300px;
}

project-card p {
	font-size: 18px;
}

project-card a {
	padding: 15px 20px;
	text-align: center;
	font-size: 16px;
	border-radius: 3px;
	background: var(--ink);
	color: var(--paper);
}

project-card a:hover {
	color: var(--accent);
}

project-card h2 {
	font-size: 1.7rem;
	max-width: 60ch;
	padding-bottom: 20px;
}

.project-description {
	padding: 10px 0;
	max-width: 60ch;
}

@media (min-width: 500px) {
	project-grid {
		flex-direction: column;
	}

	project-card {
		flex-direction: row;
	}

	project-card a {
	}
}










