html {
	--black: #2e2f3a;
	--white: #ddd4d1;
	--gray: #d9d7d4;
	--color-dark: #be7f7e;
	--color-light: #fecdb6;
	--alt-light: #dbb3b3;
	--alt-dark: #7d5b4a;
	--paper: var(--white);
	--ink: var(--black);
}

body.light {
	--paper: var(--white);
	--ink: var(--black);	
	--accent: var(--color-dark);
	--alternate: var(--alt-dark);
}

body.dark {
	--paper: var(--black);
	--ink: var(--gray);
	--accent: var(--color-light);
	--alternate: var(--color-light);
}