html {
	--black: #111;
	--white: #efefef;
	--gray: #d9d7d4;
	--color-dark: rgba(60, 94, 106, 1.00);
	--color-light: #a7efe3;
	--paper: var(--white);
	--ink: var(--black);
}

body.light {
	--paper: var(--white);
	--ink: var(--black);	
	--accent: var(--color-light);
}

body.dark {
	--paper: var(--black);
	--ink: var(--gray);
	--accent: var(--color-dark);
}