/* @import “meyer-reset.css”; */

/* This has the wrong quotes ^ and also shouldn't be imported again - */

* {
	box-sizing: border-box;
	scroll-behavior: smooth; /*move to html*/
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline-block;
	text-decoration: underline;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

ul {
	list-style-type: circle;
	margin-left: 15px;
	/* $todo: what about when it's a list that you don't want a circle? */
}

li {
	padding-top: 5px; /* $todo: - is this a good default? rem? What about the top one? */
}
