@import 'meyer-reset.css';
@import 'setup.css';
@import 'typography.css';
@import 'settings.css';
@import 'contact.css';
@import 'header.css';
@import 'intro.css';
@import 'projects.css';
@import 'footer.css';

body {
	background-color: var(--paper);
	color: var(--ink);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.inner-column {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

p a {
	color: var(--color-dark);
}

a:hover {
	color: rgba(144, 183, 172, 1.00);
}


p + p, h2 + p {
	margin-top: 1em;
}

main {
	/*position: relative;*/
	flex-grow: 1;
}

.crossbones {
	display: none;
}

@media (prefers-color-scheme: dark) {
	p a {
	color: var(--color-light);
}

	.brushstroke {
			display: none;
		}

	@media (min-width: 900px) {
		.crossbones {
			display: block;
			border: 2px solid blue;
			max-width: 300px;
			max-height: 80vh;
			position: fixed;
			bottom: 0;
			right: 0;
			z-index: -1;
			transform: translate(-20px, 80px);
		}
}

@media (min-width: 1000px) {
	.crossbones {
		max-width: 400px;
	}
}
}

















