@import 'meyer-reset.css';
@import 'setup.css';
@import 'typography.css';
@import 'settings.css';
@import 'contact.css';
@import 'header.css';
@import 'intro.css';
@import 'projects.css';
@import 'footer.css';

html {
	overflow-y: scroll;
}

body {
	background-color: var(--paper);
	color: var(--ink);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
/*	position: relative;
*/}

body.light {
	--paper: var(--white);
	--ink: var(--black);	
}

body.dark {
		--paper: var(--black);
		--ink: var(--gray);
}

.inner-column {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

p a {
	color: var(--color-dark);
}

a:hover {
	color: rgba(144, 183, 172, 1.00);
}


p + p, h2 + p {
	margin-top: 1em;
}

main {
	/*position: relative;*/
	flex-grow: 1;
}

.show-code {
	display: block;
    font-family: monospace;
	padding: 10px;
	background-color: #222;
	color: lime;
}

.crossbones {
	display: none;
}

.brushstroke {
	width: 107%;
	position: fixed;
	bottom: -140px;	
	left: -25px;
	z-index: -1;
}

section.page-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}

picture + p {
	padding-top: 20px;
}

p + a {
	margin-top: 20px;
}

@media (prefers-color-scheme: dark) {
	p a {
	color: var(--color-light);
}

	.brushstroke {
			display: none;
		}

	@media (min-width: 750px) {
		.crossbones {
			display: block;
			/*border: 2px solid blue;*/
			max-width: 30%;
			max-height: 80vh;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: -1;
			/*transform: translate(-20px, 80px);*/
		}
}

@media (min-width: 1000px) {
	.crossbones {
		max-width: 39%;
	}
}
}

















