@import 'fonts/ftg-font/stylesheet.css';
@import 'fonts/raleway/stylesheet.css';

body, ul, li {
	font-family: 'Raleway';
}

h1 {
	font-family: 'Fredericka the Great';
	font-size: 4rem;
}

h2 {
	font-family: 'Fredericka the Great';
	font-size: 2.3rem;
	font-weight: 300;
}

p, ul, li, a, h3 {
	font-family: 'Raleway';
	line-height: 1.5;
	font-size: 1.2rem;
	font-weight: 200;
	letter-spacing: .02em;
	max-width: 62ch;
}

h3 {
	font-size: 1.8rem;
}

ul {
	font-family: 'Raleway';
	font-size: 1.1rem;
	font-weight: 200;	
	max-width: 62ch;
}

li + h2 {
	padding-top: 40px;
}