@import 'fonts/ftg-font/stylesheet.css';
@import 'fonts/raleway/stylesheet.css';

body, ul, li {
	font-family: 'Raleway'; /* $todo: body would already insure that it would be on ul and li */
}

h1 {
	font-family: 'Fredericka the Great';
	font-size: 4rem;
	/* $todo: this probably needs a little clamp? or a break-point to adjust for different screens */
	font-size: clamp(2rem, 6vw, 80px);
}

h2 {
	font-family: 'Fredericka the Great';
	font-size: 2.3rem;
	font-weight: 300; /* $todo:  is this correct? */
}

p, ul, li, a {
	font-family: 'Raleway';
	line-height: 1.3;
	font-size: 1.3rem;
	font-weight: 200; /* $todo:  is this correct? */
}

ul {
	font-family: 'Raleway'; /* $todo: already on body above */;
	font-size: 1.1rem; /* $todo: this overrides the rule just above */;
	font-weight: 200;	
	max-width: 62ch;
}

li + h2 {
	padding-top: 40px;
	/* $todo:  "any h2 that comes right after a list item" - will that ever happen? */
}
