@import 'fonts/ftg-font/stylesheet.css';
@import 'fonts/raleway/stylesheet.css';

body {
	font-family: 'Raleway';
	font-weight: 200;
}

.calm-voice, p {
	font-size: 1rem;
	line-height: 1.4;
	font-weight: 200;
	letter-spacing: .02em;
	max-width: 62ch;
}

@media (min-width:  700px) {
	.calm-voice, p {
		font-size: 1.1rem;
	}
}

.intro-voice {
	font-size: 1.25rem;
	line-height: 1.4;
	font-weight: 200;
	letter-spacing: .02em;
	max-width: 62ch;
}

@media (min-width:  700px) {
	.intro-voice {
		font-size: 1.3rem;
	}
}

.attention-voice {
	font-family: 'Fredericka the Great';
	font-size: 2.2rem;
	line-height: 1.3;
	font-weight: 300;
}

.loud-voice {
	font-family: 'Fredericka the Great';
	font-size: 3rem;
	line-height: 1.3;
}

.mono-voice {
	font-family: monospace;
	font-size: .8rem;
	letter-spacing: 0.02em;
}

.important-voice {
	font-family: 'Fredericka the Great';
	font-size: 1.4rem;
}

.medium-voice {
	font-size: 1.7rem;
	line-height: 1.1;
}

.italic {
	font-style: italic;
}


/*h3 {
	font-size: 1.8rem;
}*/

/*ul {
	font-family: 'Raleway';
	font-size: 1.1rem;
	font-weight: 200;	
	max-width: 62ch;
}*/

p a {
	color: var(--inkalt);
}

a:hover {	
	color: var(--alternate);
}

li ul {
	margin-top: 0rem;
}

li + li {
	padding-top: 0.5rem;
}

@media(min-width: 400px) {
	.loud-voice {
		font-size: 4rem;
	}
}