@import 'meyer-reset.css';

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline-block;
	text-decoration: underline;
}

picture {
	display: block;
	max-width: 400px;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

code, post-info {
	display: block;
}

.profile img {
	max-width: 50px;
	border-radius: 50%;
}

.inner-column {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

