/* 
	BTW in case it isn't obvious... the whole PSSST-CSS idea is a joke 
	like... (it's just CSS)
*/

/* P reset */
@import 'preset.css';

/* S etup */
@import 'setup.css';

/* S setings */
@import 'settings.css';
/*@import 'developer-styles.css';*/

/* S tructure */
@import 'structure.css';

/* T ypography */
@import 'typography.css';

/* C omponents */
@import 'components.css';

/* S tuff (modules) */
@import 'modules.css';

/* S ections and more stuff */

/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
}

header {
	background-color: var(--color);
	color: var(--white);
	padding: 0.5rem 0;
}

.welcome {
	background-image: url("https://img.jamesedition.com/listing_images/2022/03/21/15/57/44/b1953fbf-f983-47f9-b140-c6e70481fc2b/je/2200xxsxm.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: var(--white);
}

.welcome img {
	display: none;
}

section:is(.sign-up, .get-involved) inner-column {
	max-width: var(--tight);
}

.sign-up {
	background-color: var(--white);
	color: var(--black);
}

section.get-involved {
	background-color: var(--white);
	color: var(--ink);
}

section.get-involved .button {
	background-color: inherit;
	color: var(--ink);
}

articles-intro header {
	background-color: inherit;
	color: var(--ink);
}

article a.button {
	color: var(--white);
}

.latest {
	background-color: var(--highlight);
}

:is(.latest) :is(h1, h2, p) {
	color: var(--white);
}

header a {
	font-family: Helvetica;
	font-weight: 200;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}

header a:hover {
	text-decoration: underline overline var(--sprinkle);
	text-decoration-thickness: 2px;
}

header a.button:hover {
	text-decoration: none;
}

/*article a.button {
	border: 1px solid var(--sprinkle);
}*/

footer {
	background-color: var(--neutral-stuffs);
	color: var(--white);
}

footer h3.strong-voice {
	color: var(--sprinkle);
	font-family: var(--serif-light);
	font-size: 1.5rem;
}

footer a {
	font-family: Helvetica;
	font-weight: 200;
	font-size: 1.1rem;
}

:is(call-to-action) :is(h2, p) {
	color: var(--ink);
}

/*call-to-action a.button {
	border: 1px solid var(--sprinkle);
}*/

/*LAYOUT*/
.welcome text-content {
	padding: 1rem;
	background-color: hsla(0, 0%, 36%, 0.6);
}

@media (prefers-color-scheme: dark) {
	section.sign-up {
		background-color: var(--highlight);
/*		color: var(--highlight);
*/	}

	section.sign-up .button {
		/*background-color: var(--black);*/
		color: var(--white);
	}

	section.get-involved {
		background-color: var(--highlight);
		color: var(--black);
	}

	.latest {
		background-color: var(--color);
	}
}