/* Should we pull in @fonts here? */
@import 'fonts/fonts.css';

.loud-voice	{
	font-family: var(--serif-light);
	font-size: clamp(36px, 5vw, 60px);
	font-weight: 300;
	line-height: 1.2;
}

@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700; /* or variable font */
	}
}

.attention-voice	{
	font-family: var(--serif-light);
	font-size: 30px;
	font-weight: 300;
	line-height: 1.2;
}

.strong-voice	{
	font-family: var(--sans);
	font-weight: 300;
	font-size:  1rem;
}

.calm-voice, p, li {
	font-family: var(--sans);
	font-size: 1.2rem;
	font-weight: 200;
	line-height: 1.4;
}

.quiet-voice {
	font-family: var(--serif-light);
	font-size: 1rem;
	font-weight: 200;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 20px;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}
