@import 'meyer-reset.css';

html {
	--purple: #7013f6;
	--cyan: #66defb;
}

body {
	font-family: "Helvetica";
}

h1 {
	font-size: 2rem;
	font-weight: 600;
	margin: 50px 0;
}

h2 {
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 10px;
}

h3 {
	font-size: 1.4rem;
	font-weight: 300;
}

h4 {
	font-size: 1.3rem;
	font-weight: 300;
}

article h2, h3 {
	display: inline;
}

p {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.2;
}

span {
	font-style: italic;
	font-weight: 600;
}

h2 + p {
	margin-top: 5px;
}

article + article {
	margin-top: 20px;
}

section + section {
	margin-top: 50px;
}

.inner-column {
	margin: 15px;
	padding: 10px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.buyer-wants {
	border: 1px solid gray;
	padding: 5px;
}

.home {
	border: 1px solid gray;
	padding: 5px;
}

.home + .home {
	margin-top: 10px;
}

h3 + div {
	margin-top: 3px;
}

div + div {
	margin-top: 10px;
}

.monsters h2, .monsters h3 {
	display: block;
}

picture {
	display: block;
	max-width: 500px;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

/*MONSTERS*/

.monsters {
	padding-top: 3vh;
	background-color: var(--purple);
	color: var(--cyan);
}

.monsters h2 {
	font-size: 3rem;
}

.monsters h3 {
font-size: 2rem;
font-weight: 600;
}

.monsters h4, .monsters p {
	display: inline;
	letter-spacing: 0.02em;
	font-size: 1.3rem;
}

.monsters h4 {
	font-weight: 500;
}

.adopted {
	color: black;
}

.monster picture + h3 {
	margin-top: 0.5rem;
}

.monster h3 + div {
	margin-top: 0.8rem;
}

a.available {
	margin: 20px 0;
	display: inline-block;
	background-color: var(--cyan);
	color: var(--purple);
	padding: 10px;
	border-radius: 5px;
	font-weight: 600;
	text-decoration: none;
}

a.adopted {
	margin: 20px 0;
	display: inline-block;
	background-color: black;
	padding: 10px;
	border-radius: 5px;
	color: var(--purple);
	font-weight: 600;
	text-decoration: none;
}