@import “meyer-reset.css”;

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

a p {
	display: inline;
	color: lightgray;
}

html {
	background: #b8c7c7;
}

picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

em {
	font-style: italic;
}