@import 'meyer-reset.css';
@import 'setup.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	display: flex;
	flex-direction: column;
	font-family: Arial;
	--light: #cdcbc5;
	--dark: #373962;
/*	--highlight: #bb816e;
	--lowlight: #714342;
	--feature: #31412d;
	--secondary: #064e6a;*/
	--green: #1a896f;
	--red: #891a67;
	--blue: #1b6a89;
	--lightgray: #b3b3b4;
	--darkgray: #47454d;
	--space: 10px;
	--serif: 'Roboto Slab', serif;
	--sans: 'Poppins', sans-serif;
	background-color: var(--light);
}

main {
	flex-grow: 1;
}

header, footer {
	padding: var(--space);
	color: var(--darkgray);
	background: rgba(0, 0, 0, 0.4);
}

em {
	font-weight: 300;
}

header a, footer a {
	font-family: var(--serif);
	color: var(--dark);
}

header a:hover, footer a:hover {
	color: var(--red);
}

.inner-column {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;
}

.about {
	padding: var(--space);
	color: var(--light);
	background: rgba(0, 0, 0, .7);
}

.about h1, .about h2 {
	color: var(--lightgray);
}

h1 {
	padding: var(--space);
	font-family: var(--serif);
	color: var(--darkgray);
	font-size: 34px;
	font-weight: 700;
	letter-spacing: 0.02em;
}

h2 {
	font-family: var(--serif);
	padding: var(--space);
	color: var(--darkgray);
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.02em;
	line-height: 1.4;
}

.projects h2 {
	font-family: var(--serif);
	padding: var(--space);
	font-size: 20px;
	font-weight: 400;
}

p {
	font-family: var(--sans);
	padding: var(--space);
	font-size: 16px;
	font-weight: 200;
	max-width: 70ch;
	line-height: 1.4;
}

p + p {
	padding-top: 3px;
}

a + p {
	padding-top: 5px;
}

p a {
	/*link inside of a paragraph*/
	display: inline;
	padding: 0px;
}

a {
	font-family: var(--sans);
	padding: var(--space);
	/*padding-top: var(--space);*/
	color: var(--dark);
	text-decoration: none;
}

a:hover {
	color: var(--green);
}

header nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 10px;
}

section section {
	margin: var(--space);
	padding: 5px;
	border: 2px inset gray;
}

.contact h1 {
	text-align: left;
}

.contact {
	padding-bottom: var(--space);
	color: var(--darkgray);
	background: rgba(0, 0, 0, 0.2);
}

footer nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}


/*FLEX*/

div .console {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@media (min-width: 600px) {
	body {
		--space: 20px;
	}

	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 36px;
	}

	div .console {
		flex-direction: row;
		align-items: center;
	}

	div .console h2 {
		text-align: center;
	}
}










