@import 'meyer-reset.css';
@import 'setup.css';

body {
	font-family: Arial;
	--light: #cdcbc5;
	--dark: #373962;
	--highlight: #bb816e;
	--lowlight: #714342;
	--feature: #31412d;
	--secondary: #064e6a;
	--space: 20px;
	background-color: var(--light);
}

header, footer {
	padding: var(--space);
	position: sticky;
	background-color: var(--feature);
	color: var(--highlight);
}

header a, footer a {
	color: var(--feature);
	background-color: var(--highlight);
	border-radius: 25px;
	text-align: center;
}

header a:hover, footer a:hover {
		color: var(--light);

}

.inner-column {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.about {
	padding: var(--space);
}

h1 {
	padding: var(--space);
	font-family: Georgia;
	color: var(--secondary);
	font-size: 28px;
	text-align: center;
	font-weight: 700;
}

h2 {
	padding: var(--space);
	background-color: var(--lowlight);
	color: var(--highlight);
	font-size: 22px;
}

h3 {
	padding: var(--space);
	font-size: 18px;
}

p {
	padding: var(--space);
	font-size: 16px;
	/*max-width: 70ch;*/
	line-height: 1.4;
}

p + p {
	padding-top: 3px;
}

a + p {
	padding-top: 5px;
}

p a {
	/*link inside of a paragraph*/
	display: inline;
	padding: 0px;
}

a {
	padding: var(--space);
	padding-top: 20px;
	color: var(--secondary);
	text-decoration: none;
}

a:hover {
	color: var(--highlight);
}

header nav {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

section section {
	margin: var(--space);
	padding: 5px;
	border: 2px inset gray;
}

.contact h1 {
	text-align: left;
}

.contact {
	padding-bottom: var(--space);
}

footer nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}


/*FLEX*/

div .console {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.console {
	background-color: var(--lowlight);
	color: var(--light);
}

@media (min-width: 500px) {
	div .console {
		flex-direction: row;
		align-items: center;
	}

	div .console h2 {
		text-align: center;
	}
}










