@import 'meyer-reset.css';
@import 'setup.css';

* { outline: 1px solid gray; }

body {
	font-family: Helvetica;
	font-weight: 200;
}

h1 {
	font-family: Georgia;
	color: var(--white);
	font-size: 3rem;
	text-align: center;
	font-weight: 700;
}

h2 {
	font-size: 2rem;
}

a {
	color: var(--white);
	text-decoration: none;
}

a:hover {
	color: cyan;
}

header nav {
	display: flex;
	flex-direction: row;
	gap: 10px;
}




















