header {
	padding: 10px 0;
	background-color: var(--white);
}

mast-head {
	display: block;
	position: sticky;
	left: 0px;
	top: 0px;
}

.site-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.site-menu.toggle {
	margin: 20px 0;
}

:is(header nav) svg {
	display: none;
}

@media(max-width: 834px) {
	.link-list {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 21em;
		padding-top: 2em;
		/* */
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1em;
/*		justify-content: center;*/
		/* */
		opacity: 0;
		pointer-events: none;
/*		transform: translate(-100%, 0); /* another fun option */*/
		transform: scale(.5);
		/* */
		transition: 0s;
	}

	.link-list a {
		min-width: 200px;
		text-align: center;
	}

	body.small-menu-open {
		overflow: hidden;
	}

	body.small-menu-open .link-list {
		background-color: var(--pale-blue);
		opacity: 1;
		pointer-events: initial;
		transform: translate(0, 0); /* another fun option */
/*		transform: scale(1);*/
		transition: .2s;
	}
}

@media(min-width: 835px) {
	.site-menu {
		display: flex;
		flex-direction: row;
		gap: 60px;
	}

	ul.link-list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		flex-grow: 1;
	}

	header nav svg {
		display: inline-block;
	}

	button.toggle {
		display: none;
	}
}