header {
	padding: 10px 0;
	background-color: var(--white);
}

header a {
	color: var(--blue);
	stroke: var(--blue);
}

header a:hover {
	color: var(--gray);
	stroke: var(--gray);
}

mast-head {
	display: block;
	position: sticky;
	left: 0px;
	top: 0px;
}

.site-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.site-menu.toggle {
	margin: 20px 0;
}

@media(max-width: 734px) {
	.link-list {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 2em 0;
		/* */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1em;
/*		justify-content: center;*/
		/* */
		opacity: 0;
		pointer-events: none;
/*		transform: translate(-100%, 0); /* another fun option */*/
		transform: scale(.5);
		/* */
		transition: 0s;
	}

	.link-list svg {
		display: none;
	}

	.link-list a {
		text-align: center;
	}

	.link-list button {
		position: absolute;
		top: 0;
		right: 0;
		margin: 10px 15px;
	}

	body.small-menu-open .link-list {
		background-color: var(--white);
		opacity: 1;
		pointer-events: initial;
		transform: translate(0, 0); /* another fun option */
/*		transform: scale(1);*/
		transition: .2s;
	}
}

@media(min-width: 735px) {
	.site-menu {
		display: flex;
		flex-direction: row;
		gap: 60px;
	}

	nav .link-list a {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 5px;
	}

	ul.link-list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		flex-grow: 1;
	}

	.link-list svg {
		display: none;
	}

	button.toggle {
		display: none;
	}
}

@media(min-width: 860px) {
	.link-list svg {
		display: inline-block;
	}
}