/*HERO*/
section.hero {
	background-image: url(../../images/turntable.jpg);
	background-color: var(--blue);
	color: var(--white);
}

:is(.video) svg {
	display: inline-block;
	padding: 1rem;
	background-color: var(--white);
	border-radius: 50px;
}

/*NEW RELEASES*/
.new-releases {
	background-color: var(--light-gray);
}

release-slider {
	display: block;
}

slider-card {
	display: block;
	margin-top: 1rem;
	background-color: var(--white);
	padding: 1.5rem 0.75rem;
}

/*LOCATION*/
find-us {
	display: block;
	min-height: 400px;
}

find-us iframe {
	min-width: 100%;
	min-height: 400px;
}

/*CONTACT*/
form {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

div.message {
	grid-column: span 2;
}

div.form-field {
	margin-top: 1rem;
}

input, select {
	padding: 0.5rem;
}