/*HERO*/
section.hero {
	background-image: url(../../images/turntable.jpg);
	background-color: var(--blue);
	color: var(--white);
}

:is(.video) svg {
	display: inline-block;
	padding: 1rem;
	background-color: var(--white);
	border-radius: 50px;
}

/*NEW RELEASES*/
.new-releases {
	background-color: var(--light-gray);
}

/*LOCATION*/
find-us {
	display: block;
	min-height: 400px;
}

find-us iframe {
	min-width: 100%;
	min-height: 400px;
}