/*HERO*/
section.hero {
	background-image: url(../../images/turntable.jpg);
	background-size: cover;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: multiply;
	color: var(--white);
}

:is(.video) svg {
	padding: 1rem;
	background-color: var(--white);
	border-radius: 50px;
}

hero-banner {
	display: block;
	margin: 200px 0;
}

hero-banner, graphic-diptych :is(p) {
	max-width: 500px;
}

.watch-video {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin-top: 1rem;
}

/*SPOTLIGHT*/
graphic-diptych {
	display: flex;
	flex-direction: column;	
}

@media(min-width: 700px) {
	graphic-diptych {
		flex-direction: row;	
		align-items: center;
		gap: 1rem;
	}

	graphic-diptych img {
		object-fit: cover;
	}
}

/*NEW RELEASES*/
.new-releases {
	background-color: var(--light-gray);
}

release-slider {
	display: block;
}

slider-card {
	display: block;
	margin-top: 1rem;
	background-color: var(--white);
	padding: 1.5rem 0.75rem;
}

/*LOCATION*/
find-us {
	display: block;
	min-height: 400px;
}

find-us iframe {
	min-width: 100%;
	min-height: 400px;
}

/*CONTACT*/
form {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

div.message {
	grid-column: span 2;
}

div.form-field {
	margin-top: 1rem;
}

input, select {
	padding: 0.5rem;
}