@import 'meyer-reset.css';
@import 'setup.css';

/** { outline: 1px solid gray; }*/

body {
	font-family: Helvetica;
	font-weight: 200;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

h1 {
	color: var(--white);
	font-size: 3rem;
	text-align: center;
	font-weight: 500;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.3rem;
}

p {
	margin-top: 5px;
}

p + h3 {
	margin-top: 1rem;
}

h3 + h3 {
	margin-top: 0.5rem;
}

a {
	color: var(--white);
	text-decoration: none;
}

.descriptor {
	font-style: italic;
}

article {
	margin-top: 2rem;
}

a:hover {
	text-decoration: underline overline #a8efe3;
}

header nav, footer nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}




















