

.loud-voice {
	font-size: 2.5rem;
	font-weight: 500;
}

.attention-voice {
	font-size: 1.8rem;
	font-weight: 300;
}

.normal-voice {
	font-size: 1.2rem;
}

.quiet-voice {
	font-size: 0.7rem;
}

.info-voice, .mono-voice {
	font-family: monospace;
}