@import 'meyer-reset.css';
@import 'setup.css';

body {
	--black: #111;
	--white: #e2e4ed;
	--space: 30px;
	font-family: Trebuchet MS;
	color: var(--white);
	line-height: 1.3;
}

.inner-column {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	padding: var(--space);
	color: var(--white);
	font-size: 32px;
	text-align: center;
	font-weight: 200;
	letter-spacing: .02em;
	font-style: italic;
}

h2 {
	padding: var(--space);
	font-size: 32px;
}

p {
	padding: var(--space);
}

a {
	padding: var(--space);
	color: var(--white);
	text-decoration: none;
	background: ;
}

a:hover {
	color: cyan;
}

header nav {
	display: flex;
	flex-direction: row;
	gap: 10px;
}























