/*NAV*/
.header-nav ul {
	display: flex;
	flex-direction: row;
}

.account-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 1rem;
}

/*BUTTON*/
a.button {
	display: inline-block;
	border: 1px solid blue;
	padding: 0.5rem 1rem;
}