
graphic-diptych {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 10vh 0;
}

.welcome {
	height: 60vh;
}

.welcome h1 {
	font-size: 2.6rem;
	font-weight: 200;
}

graphic-diptych text-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

graphic-diptych p {
	margin-top: 20px;
	font-size: 1.5rem;
}

@media (min-width:  700px) {
	graphic-diptych {
		flex-direction: row;
		align-items: center;
	}

	.welcome h1 {
		font-size: 3.5rem;
	}

	/*graphic-diptych :is(picture, text-content) {
		flex-basis: 50%;
	}*/
}
