body {
	margin: 15px;
	padding: 10px;
	background-color: steelblue;

}

h1 {
	font-family: fantasy;
	font-weight: bold;

}

h2 {
	font-family: fantasy;

}

ul {

}

li {

}

button {
	background-color: lightgreen;
	font-family: monospace;

}