
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; 
} 

main {
	flex-grow: 1; 
}

.inner-column {
	display: block;
	max-width: 1100px; 
	margin: 0 auto;
	padding: 0 14px; 
}

.site-header {
	position: sticky;
	top: 0;
	z-index: 5;
}
