@import 'reset.css';
@import 'setup.css';
@import 'structure.css';
@import 'settings.css';
@import 'typography.css';
/*MODULES*/
@import 'modules/header.css';
@import 'modules/main.css';
@import 'modules/slider.css';
@import 'modules/footer.css';

* {
	border-radius: 2px;
}

body {
	overflow-x: hidden;
}

body.preload *{
	animation-duration: 0s !important;
	-webkit-animation-duration: 0s !important;
	transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

footer nav a {
	display: inline-block;
}

.logo {
	display: inline-block;
}

.button {
	display: inline-block;
	background-color: var(--pale-green);
	color: var(--green);
	padding: 1rem 2rem;
	transition:all 0.8s, color 0.3s 0.3s;
}

.button:hover {
	box-shadow: 300px 0 0 0 var(--green) inset, -300px 0 0 0 var(--green) inset;
	color: var(--pale-green);
}

main {
	overflow-x: hidden;
}