@import 'reset.css';
@import 'setup.css';
@import 'structure.css';
@import 'settings.css';
@import 'typography.css';
/*MODULES*/
@import 'modules/header.css';
@import 'modules/main.css';
@import 'modules/footer.css';

nav a {
	display: inline-block;
}

.logo {
	display: inline-block;
}

.button {
	display: inline-block;
	background-color: var(--pale-green);
	color: var(--green);
	padding: 1rem 2rem;
}

.button:hover {

}