
body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

.loud-voice	{
	font-size: clamp(36px, 5vw, 64px);
	font-weight: 700;
}

.attention-voice	{
	font-size: clamp(28px, 3vw, 40px);
	font-weight: 700;
}

.calm-voice, p, li {
	font-size: 1rem;
	line-height: 1.4;
}

.quiet-voice {
	font-size: 0.9rem;
}

.title-voice {
	font-size: 1.5rem;
	font-weight: 700;
}

.info-voice {
	color: var(--green);
	font-weight: 500;
}

.upper {
	text-transform: uppercase;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

p, p + p {
	margin-top: 1em;
}

h2, picture, p {
	margin-top: 1rem;
}

h3, h4 {
	margin-top: 0.5rem;
}

ul {
	margin-top: 1rem;
}