

* {
	box-sizing:  border-box;
}

body {
	background-color: turquoise;
	font-family: times;
}

.inner-column {
	max-width:  750px;
	margin-left:  auto;
	margin-right:  auto;
}

.site-header {
	background-image: linear-gradient(90deg, #c0f0ee, #0e3e3d);
}

h1 {
	padding: 5px;
}

h2 {
	padding: 5px;
}

ul {
	margin-left: 15px;
	padding: 5px;
}

p {
	padding: 5px;
}

a {
	padding: 5px;
}