
mast-head {
	display: flex;
	justify-content: space-between;
}

header .site-menu ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

mast-head .logo {
	max-width: 65%;
}

mast-head .logo * {
	fill: var(--ink);
}

mast-head nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*mast-head nav .home {
	padding: 0.5em 1em;
}*/

mast-head nav a {
	display: inline-block;
	padding: .5em;
}

mast-head a.button {
	background-color: inherit;
	border: 1px solid var(--sprinkle);
}

.user-menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

@media (min-width:  750px) {
	mast-head {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	mast-head .logo {
		max-width: 90%;
	}

	header .site-menu ul {
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}
}
