
mast-head {
	display: flex;
	justify-content: space-between;
}

header a:not(.home) {
	display: none;
}

mast-head .logo {
	max-width: 100px;
}

mast-head .logo * {
	fill: var(--sprinkle);
}

mast-head nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*mast-head nav .home {
	padding: 0.5em 1em;
}*/

mast-head nav a {
	display: inline-block;
	padding: .5em;
}

mast-head a.button {
	background-color: inherit;
	border: 1px solid var(--sprinkle);
}

.user-menu {
	display: none;
}

@media (min-width:  550px) {
	header a:not(.home) {
		display: inline-block;
	}

	mast-head {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.user-menu {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	header .site-menu ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}
}
