@import 'meyer-reset.css';
@import 'setup.css';
@import 'basic.css';

/*MAIN SETUP*/
body {
	margin: 10px;
}

.inner-column {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

div h1 {
	font-size: 38px;
}

article {
	border: 2px solid black;
	margin-top: 20px;
	width: 100%;
	height: 400px;
}



/*DIV SETUP & COLORS*/
div {
	min-height: 80px;
	min-width: 100px;
	padding-top: 25px;
	padding-left: 20px;
}

.blue {
	background: #2e3193;
}

.red {
	background: #932e2e;
}

.orange {
	background: #eca151;
}

.yellow {
	background: #f0d432;
}


/*FLEXBOX GOODNESS*/

/*BASIC IMPORTED*/





















