zen-garden, image-grid, currently-looking, loftie-module, loftie-card, loftie-cards, loftie-cta, loftie-list {
	display: block;
}

image-grid {
	display: grid;
	gap: 1rem;
	padding: 2rem 0;
	border-bottom: 2px solid var(--accent);
}

/*CURRENTLY LOOKING*/
currently-looking {
	margin-top: 3rem;
	padding: 2rem 0;
	border-bottom: 2px solid var(--accent);
}

:is(currently-looking) ul {
	list-style-type: none;
	margin-left: 0;
}

.intro-content p {
	margin-top: 1rem;
}

.current-list h2 {
	margin-top: 1.3rem;
}

/*LOFTIE MODULES*/
loftie-modules, loftie-cards, loftie-cta, loftie-list {
	padding: 2rem 0;
	border-bottom: 2px solid var(--accent);
}

loftie-card {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

loftie-card h1 {
	margin-top: 1rem;
}

loftie-cta, loftie-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

loftie-cta text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

loftie-cta h2.attention-voice {
	font-family: "Raleway";
}

loftie-list li {
	list-style-type: none;
	padding: 15px;
}

:is(loftie-list) li + li {
	border-top: 1px solid var(--accent);
}

@media (min-width: 500px) {
	zen-garden .first, .third, .fourth {
		grid-template-columns: 1fr 1fr;
	}

	zen-garden .second, .fifth, .sixth {
		grid-template-columns: 1fr 1fr 1fr;
	}

	zen-garden .fifth {
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	}

	zen-garden .sixth {
		grid-template-rows: 1fr 1fr;
	}

	zen-garden .third picture:nth-of-type(1) {
		grid-column: span 2;
		max-height: 20%;
	}

	zen-garden .fourth picture:nth-of-type(3n-2) {
		grid-column: span 2;
	}

	zen-garden .fifth :is(picture:nth-of-type(1), picture:nth-of-type(9)) {
		grid-column: span 2;
		grid-row: span 2;
	}

	zen-garden .fifth :is(picture:nth-of-type(9)) {
		grid-column: 2 / 4;
		grid-row: 3 / 5;
	}

	zen-garden .sixth picture:nth-of-type(1) {
		grid-column: span 2;
		grid-row: span 2;
	}

	.current-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

@media(min-width: 700px) {
	loftie-cards {
		display: flex;
		flex-direction: row;
		gap: 2rem;
	}

	loftie-cta, loftie-list {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 3rem;
	}

	:is(loftie-cta, loftie-list) picture, text-content {
		flex-basis: 50%;
	}
}

@media(min-width: 900px) {
	currently-looking .attention-voice {
		font-size: 4rem;
	}

	currently-looking {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4rem;
	}

	.current-list {
		display: grid;
		grid-template-columns: 1fr;
	}

	:is(.intro-content) :is(p, a) {
		margin-top: 4rem;
	}
}