@import 'meyer-reset.css';
@import 'setup.css';

/** { outline: 1px solid gray; }*/


/*TEXT*/
body {
	font-family: Helvetica;
	font-weight: 200;
}

h1 {
	color: var(--white);
	font-size: 4rem;
	font-weight: 300;
}

h2 {
	font-size: 2rem;
}

p {
	font-size: 1.1rem;
}

a {
	color: var(--white);
	text-decoration: none;
}

a:hover {
	color: var(--accent);
	text-decoration: underline overline var(--accent);
}

/*SPACING*/
:is(header, footer) a {
	padding: 0.25rem;
}

h2 {
	margin-top: 2rem;
}

p {
	margin-top: 1rem;
	max-width: 68ch;
	line-height: 1.2;
	letter-spacing: 0.01rem;
}

p + p {
	margin-top: 0.5rem;
}

/*LAYOUT*/
header nav {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

article {
	display: inline-block;
}


/*PROJECTS PAGE*/
.project picture {
	max-width: 400px;
	margin-top: 0.75rem;
}

.project {
	border: 0.5px inset var(--accent);
	padding: 0.75rem;
}

.projects .inner-column {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.project a {
	margin-top: 1rem;
}

@media (min-width: 600px) {
	.projects .inner-column {
		flex-direction: row;
		flex-wrap: wrap;
	}

	article.project {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}


/*ADD/CREATE PAGE*/
.add-art {
	margin-top: 2rem;
	border: 1px solid var(--accent);
	padding: 1rem;
}

.add-art div {
	margin: 1rem 0;
}












