
articles-intro {
  display: block;
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
}

articles-intro header .attention-voice {
  letter-spacing: -1px;
  font-size: 4rem;
}

articles-intro header {
  margin-bottom: 40px;
}

articles-intro .intro {
  font-size: 1.3rem;
  max-width: 30em;
}

articles-intro article-grid {
  overflow: hidden;
}

@media (min-width:600px) {
  articles-intro article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}