all-ganes, game-grid, game-card {
	display: block;
}

game-grid {
	margin: 3rem 0;
	display: grid;
	gap: 2rem;
}

game-card h1 {
	font-size: 32px;
	font-weight: 400;
	color: gray;
}

game-grid h2 {
	color: var(--ink);
	font-weight: 300;
	padding-top: 0.5rem;

}

game-card picture {
	margin: 1rem 0;
	overflow: hidden;
}

game-card img {
	transition: 1s;
}

game-card:hover :is(img) {
	transform: scale(1.5);
	overflow: hidden;
	transition: 1s;
}

game-card p {
	max-width: 27ch;
	padding-bottom: 10px;
	color: white;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.2;
}

game-grid a {
	display: inline;
	color: rgba(134, 37, 36, 1.00);
	font-size: 1.4rem;
	font-weight: 300;
}

game-card + game-card {
	margin-top: 300px;
}

@media (min-width: 650px) {
	game-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	game-grid h1 {
		grid-column: span 2;
	}

	game-card picture {
	height: 200px;
	max-width: 400px;
}

game-card img {
	height: auto;
	max-width: 600px;
	object-fit: cover;
	position: bottom;
}
}