
graphic-diptych {
  display: block;
  padding:  3px;
  background: rgba(0 0 0 .1);
 /* padding-top: 2vh;
  padding-bottom: 2vh;*/
  /* */
  /*display: flex;*/
/*  flex-direction: column;
  gap: 30px;*/
}

graphic-diptych text-content {
  display: block;
  color: white;
  padding: 20px;
  /*display: absolute;*/
  z-index: 1;
}

graphic-diptych picture {
  padding-top: 15px;
}

.welcome {
  display: flex;
  flex-direction: row-reverse;
}

.our-team {
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 660px) {
  .welcome {
    min-height: 500px;
    background-image: url('https://peprojects.dev/alpha-3/tara/projects/tareuhhhhhh-gaming-v2/images/skeleton.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    overflow: hidden;
  }

  .welcome img, .our-team img {
  display: none;
  }

  .welcome text-content, .our-team text-content {
    background: rgba(0, 0, 0, 0.85);
  }

  .welcome {
    flex-direction: row;
    align-items: center;
    /*justify-content: flex-end;*/
    /*min-height: 40vh;*/
  }

  .our-team {
    min-height: 400px;
    background-image: url('https://peprojects.dev/alpha-3/tara/projects/tareuhhhhhh-gaming-v2/images/gamer.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
    }

  graphic-diptych :is(text-content) {
    width: 50%;
  }

  graphic-diptych text-content {
    order:  1;
  }
}
