
graphic-diptych {
  display: block;
}

graphic-diptych text-content {
  display: block;
  position: relative;
  color: white;
  z-index: 1;
  text-align: center;
}

graphic-diptych p {
  margin: 0 auto;
}

graphic-diptych picture {
  padding-top: 15px;
  width: 100%;
  display: none;
}

graphic-diptych h1 {
  font-size: 2rem;
  line-height: 1.3;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.welcome h1 {
  text-shadow: 0px 3px 6px rgb(0 0 0 / 80%), 0px 1px 40px #000;
}

.our-team {
  background: rgba(0, 0, 0, 0.5);
  min-height: 300px;
}

.our-team graphic-diptych {
  margin: 4rem 0;
}

.our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-team {
  background-color: rgb(0 0 0 / 60%);
  height: 100%;
}

@media (min-width: 660px) {
  .welcome {
    min-height: 500px;
    background-attachment: fixed;
    overflow: hidden;
  }

  .welcome text-content, .our-team text-content {
    /*background: rgba(0, 0, 0, 0.85);*/
  }

  .welcome {
    flex-direction: row;
    align-items: center;
  }

  .our-team {
    min-height: 400px;
    background-image: url('https://peprojects.dev/alpha-3/tara/projects/tareuhhhhhh-gaming-v2/images/gamer.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
    }
}
