
graphic-diptych {
  display: block;
  padding:  3px;
  background: rgba(0 0 0 .1);
 /* padding-top: 2vh;
  padding-bottom: 2vh;*/
  /* */
  /*display: flex;*/
/*  flex-direction: column;
  gap: 30px;*/
}

graphic-diptych text-content {
  display: block;
  color: white;
  padding: 20px;
  /*display: absolute;*/
  z-index: 1;
}

.welcome {
  display: flex;
  flex-direction: row-reverse;
}

.our-team {
  background: rgba(0, 0, 0, 0.5);
}

@media (min-width: 660px) {
  .welcome {
    background-image: url('https://peprojects.dev/alpha-3/tara/projects/tareuhhhhhh-gaming/images/skeleton.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    overflow: hidden;
  }

  .welcome img {
  display: none;
  }

  .welcome text-content {
    background: rgba(0, 0, 0, 0.85);
  }

  .welcome {
    flex-direction: row;
    align-items: center;
    /*justify-content: flex-end;*/
    /*min-height: 40vh;*/
  }

  .our-team {
  background-image: url('https://peprojects.dev/alpha-3/tara/projects/tareuhhhhhh-gaming/images/gamer.jpg');
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  overflow: hidden;
  }

  graphic-diptych :is(text-content) {
    width: 50%;
  }

  graphic-diptych text-content {
    order:  1;
  }
}
