
mast-head {
  height: ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  /*justify-content: space-between;*/
  /*align-items: center;*/
}

mast-head nav {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
}

mast-head .logo {
  /*display: block;*/
  max-width:  40px;
}

mast-head a {
  font-family: 'Lato' sans-serif;
  font-size: 1rem;
  font-weight: 200;
  padding:  5px;
}

.site-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

@media (min-width: 600px) {
  .site-menu {
    flex-direction: row;
    align-items: center;
}

  mast-head {
    align-items: center;
  }

  mast-head a {
    font-size: 22px;
  }
}
