
mast-head {
  max-height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  /*justify-content: space-between;*/
  /*align-items: center;*/
}

mast-head nav {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
}

mast-head .logo {
  /*display: block;*/
  max-width:  40px;
}

mast-head a {
  font-family: 'Lato' sans-serif;
  font-size: .7rem;
  font-weight: 200;
  padding:  5px;
}

.site-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

footer site-map {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

footer .site-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

@media (min-width: 600px) {
  mast-head {
    /*align-items: center;*/
  }

  mast-head a {
    font-size: 22px;
  }
}
