@import '../../../css/style.css';

form {
	margin-top: 2rem;
}

button {
	display: block;
	margin-top: 1.5rem;
	padding: 0.5rem 2rem;
}

label {
	display: block;
	margin-top: 0.75rem;
}

.display + .display {
	border-top: 1px solid black;
	padding-top: 1rem;
}

.item {
	border-left: 1px solid black;
	padding-left: 1rem;
}