
.post-author {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.post-author p {
	padding: 0.25rem;
}

.post-author picture {
	max-width: 40px;
	border-radius: 50%;
	overflow: hidden;
	padding: 0;
	margin-left: 1.5rem;
	margin-right: 0.5rem;
}

picture {
	max-width: 400px;
}

code {
	margin: 7.5px 15px;
	display: block;
	border: 2px inset lime;
	background-color: black;
	color: lime;
	font-family: monospace;
	font-size: 1rem;
}