
/* COMPONENTS */
.button {
  text-transform: uppercase;
  color: inherit;
  font-weight: 700;
  letter-spacing: .05em;
  text-decoration: underline;
  /* should a link look like a "button" though? */
  display: flex;
  flex-direction: row;
  border:  1px solid white;
  padding:  1em 2em;
  text-decoration: none;
  font-family: sans-serif;
  font-weight:  400;
  background-color: none;
  transition: 0.5s background-color linear, 0.1s color linear;
  margin: 2rem 0;
}

.button:hover {
  background-color: var(--white);
  color: var(--black);
  transition: 0.5s background-color linear, 0.1s color linear;
  text-shadow: none;
}

.arrow {
  /* maybe icons in here? Any reusable smaller things */  
}
