section.games {
/*	margin-top: 2rem;*/
}

game-display {
	border: 1px solid lime;
	display: block;
/*	margin-top: 2rem;*/
	min-height: 400px;
}

game-display {
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgb(0 0 0 / 20%);
/*	text-shadow: 0px 3px 6px rgb(247 247 247 / 80%), 0px 1px 40px #000;*/
}
