section.games {
	background-color: hsla(208, 1%, 40%, 0.3);
}

game-display {
	border: 1px solid lime;
	display: block;
/*	margin-top: 2rem;*/
	min-height: 400px;
}

game-display {
	min-height: 500px;
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;

	color: white;
	text-shadow: 0px 3px 6px rgb(0 0 0 / 80%), 0px 1px 40px #000;
}
