
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';

/*@import 'developer-styles.css'; */
/* comment this ^ out - when you are ready */


/* SETTINGS */
@import 'settings.css'; /* variables/ etc */


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';


/* MODULES */
@import 'modules/masthead.css';
@import 'modules/graphic-diptych.css';
@import 'modules/call-to-action.css';
@import 'modules/articles-intro.css';
@import 'modules/article-card.css';
@import 'modules/site-map.css';
/* should everything/nothing be in it's own file? */


/* ACTUAL SITE STYLES */
html {
	background-color: var(--white);
}

body {
	background-color: var(--darkgray);
}

/*
	This the area where you work out your styles 
	If it makes sense, you can break these out into their own files.
*/


/* SITE SECTIONS */
@media (min-width: 600px) {
	.site-header {
		position: sticky;
		top: 0;
		z-index: 1;
		/*box-shadow: 0 2px 5px 0px rgba(0,0,0,.4);*/
	}
}

.site-header inner-column {
	padding: 4px;
}



/* OK! SITE STYLES! */
.site-header {
  background-color: var(--lightgray);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: .1em;
}

.welcome {
  position: relative;
  overflow: hidden;
}


/* things kinda just start grouping up... and you'll know when something should be grouped into another file - most of the time */


.get-involved {
	background-color: rgba(1, 158, 216, .50);
	color: white;
	position: relative;

  /*background-image:  url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");*/
} /* interesting way to include the whole image in your CSS */

.get-involved video {
  display: block;
  object-fit: cover;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
  z-index: 0; /* must have position set */
}

.get-involved h2, .get-involved p, .get-involved a {
	position: relative;
}

.get-involved inner-column {
	/*max-width:  700px;*/
}

.get-involved a {
	background-color: var(--lightgray);
}


.call-to-action {
	position: relative;
}

.back-to-top {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: sticky;
	bottom: 0;
	right: 0;
	background-color: var(--lightgray);
	color: var(--white);
	padding: 5px 10px;
	font-weight: 300;
	border-radius: 3px;
}

.stuff {
  
}

iframe {
	margin-top: 40px;
	max-width: 300px;
	max-height: 120px;
}

.help-us {
  background-color: rgba(1, 158, 216, .5);
  color: white;
}

.site-footer {
	background-color: var(--darkgray);
	color: var(--white);
}

.site-footer p {
	font-weight: 200;
}

.site-footer .logo {
	max-width:  60px;
}

game-card {
	display: inline-block;
	background: rgba(0,0,0, .6);
	padding: 15px;
	margin: 15px;
}

game-card h1 {
	font-size: 32px;
	color: gray;
}

game-card p {
	max-width: 27ch;
	padding-bottom: 10px;
	color: white;
}

game-card a {
	color: maroon;
}

game-card + game-card {
	margin-top: 20px;
}
















