
call-to-action {
	display: block;
	/*border: 4px solid orange;*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 30% 0 10%;
	position: relative;
	min-height: 40vh;
}

call-to-action .button {
	margin-top: 3.5rem;
	background-color: inherit;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	text-align: left;
	padding: 1rem;
	border: 0.5px solid var(--sprinkle);
}

picture.cta {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(0, -40%);
}

p.story {
	max-width: 55ch;
}

text-content.cta {
	margin-top: 3rem;
}

call-to-action h2.attention-voice {
	font-size: 2.5rem;
}

call-to-action p {
	font-size: 1.1rem;
}

call-to-action a {
	padding: 1rem 0;
	color: var(--ink);
	font-family: var(--sans);
}

@media (min-width: 700px) {
	call-to-action h2.attention-voice {
		font-size: 3rem;
	}

	call-to-action p {
		font-size: 1.3rem;
	}
}